.titles {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0rem auto 0.5rem auto;
}
.titles h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #000000;
  margin-top: auto;
  margin-bottom: 0;
}
.titles p {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  margin: 0 1rem;
}
